body {
    background-color: var(--color-alternative);
    color: var(--color-text);
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0px 3px 3px 1px rgba(77,
                90,
                229, 0.14), 0px 3px 3px 1px rgba(77,
                90,
                229, 0.12), 0px 3px 3px 1px rgba(077,
                90,
                229, 0.2);
    }

    100% {
        box-shadow: 0px 3px 3px 1px rgba(64,
                75,
                191, 0.14), 0px 3px 3px 1px rgba(64,
                75,
                191, 0.12), 0px 3px 3px 1px rgba(64,
                75,
                191, 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    letter-spacing: 0.02em
}

:root {
    --color-text: #434455;
    --color-main: #4d5ae5;
    --color-hover: rgb(64, 75, 191);
    --color-text-accent: #2E2F42;
    --color-text-unaccent: #F4F4FD;
    --color-alternative: #fff;
    --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
}

/* common styles */

.container {
    width: 1158px;
    margin: 0px auto;
    padding: 0px 15px;
    /* outline: 1px dotted tomato; */
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text-accent);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-accent);
    letter-spacing: 0.02em;
}

.card-img {
    max-width: 100%;
    display: block;
}

.social-links {
    display: flex;
    gap: 24px;
}

.social-icon {
    height: 40px;
    width: 40px;

}

.social-icon-pic {
    fill: var(--color-text-unaccent);
}

.social-icon-link {
    width: 100%;
    background-color: var(--color-main);
    border-radius: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--color-hover);
    outline: none;
}


/* header */

.logo-web {
    color: var(--color-main)
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-accent);
    margin-right: 76px;
}

.header-section {
    border-bottom: 1px solid #E7E9FC;
}

.header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    padding: 24px 0px;
    position: relative;
    display: block;
    font-weight: 500;
    color: var(--color-text-accent);
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.is-active {
    color: var(--color-hover);
}

.is-active::after {
    content: '';
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--color-hover);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-hover);
    outline: none;
}

.address-link {
    text-decoration: none;
    color: var(--color-text-accent);
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.address-list {
    display: flex;
}

.address li:not(:last-child) {
    margin-right: 40px;
    outline: none;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-hover);
    outline: none;

}

/* hero */




.hero-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-alternative);
    background-color: var(--color-main);
    cursor: pointer;
    border-width: 0;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    font-family: inherit;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-hover);
    outline: none;
}

/* Features */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
    flex-basis: calc((100% - 24px * 3) / 4)
}

.features-icon {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* doing */
.doing-section {
    padding-bottom: 120px;
}


.doing-container {
    display: flex;
    justify-content: space-between;
}


/* team */
.team-section {
    background-color: var(--color-text-unaccent);
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-container {
    display: flex;
    justify-content: space-between;
}

.team-card {
    border-radius: 4px;
    background-color: var(--color-alternative);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-card-description {
    padding: 32px 16px;
    text-align: center;
}

.team-card-social {
    display: flex;
}

.team-card-social {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.team-card-profession {
    margin-bottom: 8px;
}


/* custumers */
.custumers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.custumers {
    display: flex;
    justify-content: space-between;
}

.custumers-icon {
    width: 168px;
    height: 88px;
}

.custumers-icon-link {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    justify-content: center;
    align-items: center;
    transition: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);

}

.custumers-icon-pic {
    fill: #8E8F99;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.custumers-icon-link:hover,
.custumers-icon-link:focus {
    border-color: var(--color-hover);
    outline: none;
}

.custumers-icon-link:hover .custumers-icon-pic,
.custumers-icon-link:focus .custumers-icon-pic {
    fill: var(--color-hover);
    outline: none;
}

/* switcher */
.switcher-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.switcher-btn {
    padding: 12px 24px;
    font-weight: 500;
    background-color: var(--color-text-unaccent);
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--color-main);
    cursor: pointer;
    border-radius: 4px;
    border-width: 0;
    font-family: inherit;
    transition: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.switcher-item:not(:last-child) {
    margin-right: 24px;
    outline: none;
}

.switcher-btn:hover,
.switcher-btn:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--color-hover);
    color: var(--color-text-unaccent);
    outline: none;
}

/* portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}


.link-portfolio {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.portfolio-card-subscription {
    padding: 32px 0px 32px 16px;
    border: 1px solid #E7E9FC;

    border-top: none;
}

.link-portfolio:hover,
.link-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    outline: none;
}

.card-img-hover-thomb {
    position: relative;
    overflow: hidden;
}

.card-img-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-main);
    padding: 40px 32px;

    color: var(--color-text-unaccent);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    border-width: 0px;

    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}



.link-portfolio:hover .card-img-hover,
.link-portfolio:focus .card-img-hover {
    transform: translateY(-100%);
}

/* footer */
.footer-section {
    background-color: var(--color-text-accent);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-blocks {
    display: flex;
    align-items: baseline;
}


.logo-footer {
    color: var(--color-text-unaccent);
}

.footer-text {
    width: 264px;
    margin-top: 16px;
    color: #E7E9FC;

}

.footer-studio {
    margin-right: 120px;
}

.footer-social {
    margin-right: 80px;
}

.footer-social-gap {
    gap: 16px
}

.footer-social-discription {
    color: var(--color-alternative);
    margin-bottom: 16px;
    font-weight: 500;
}

.footer-social-icon {
    background-color: rgba(256, 256, 256, 0.1);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31D0AA;
    outline: none;
}

.footer-subscribe {
    display: flex;
    gap: 24px;
}

.btn-subscribe {
    padding: 8px 24px;
    background-color: var(--color-main);
    border-width: 0px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: var(--color-alternative);
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    outline: none;
    background-color: var(--color-hover);
}



.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: color 250ms var(--transition-type);
}

.footer-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    border-width: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);


    color: var(--color-alternative);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input:focus,
.footer-input:hover {
    outline: none;
    border: 1px solid var(--color-alternative);
}

.footer-input:focus::placeholder,
.footer-input:hover::placeholder {
    color: var(--color-alternative);
}

.btn-subscribe-pic {
    fill: var(--color-alternative);
}

/* backdrop */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms var(--transition-type);

}


.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    height: 584px;
    border-radius: 4px;
    padding: 24px;
    background-color: var(--color-alternative);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-type);


    animation: pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.modal-header {

    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    padding-top: 24px;
    color: var(--color-text-accent);
}

.close-btn {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms var(--transition-type);

}



.modal-input-item {
    position: relative;
    margin-bottom: 8px;
}

.modal-input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input {
    display: block;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    padding-left: 38px;
    transition: border-color 250ms var(--transition-type);
}

.modal-input-pic {
    position: absolute;
    bottom: 14px;
    left: 19px;
    transition: fill 250ms var(--transition-type);
}

.modal-input-textarea {
    resize: none;
    height: 120px;
    padding: 8px 18px;
    margin-bottom: 16px;
}

.privat-policy {
    color: var(--color-main);
}

.modal-input-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.terms-acces {
    display: flex;
    align-items: center;
    gap: 8px;
}


.modal-input-terms {
    letter-spacing: 0.04em;
    margin: 0;
    margin-left: 24px;
    position: relative;
}


.modal-input:hover,
.modal-input:focus {
    outline: none;
    border: 1px solid var(--color-main);
}

.alt-checkbox {
    position: absolute;
    left: -23px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: var(--color-text-unaccent);
    border: 1px solid #2E2F42;
    border-radius: 2px;

    transition: background-color 250ms var(--transition-type),
        border-color 250ms var(--transition-type);
}

.modal-check-pic {
    fill: var(--color-text-unaccent);
}

.modal-input-checkbox:checked+.alt-checkbox {
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.modal-input:focus+.modal-input-pic,
.modal-input:hover+.modal-input-pic {
    fill: var(--color-main);
}

.btn-modal-send {
    display: block;
    height: auto;
    width: 169px;
    padding: 16px 32px;
    background-color: var(--color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    margin: 0 auto;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-alternative);
    cursor: pointer;

    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-type);
}

.btn-modal-send:hover {

    background-color: var(--color-hover);
}



.close-btn-pic {
    fill: #2E2F42;
    transition: fill 250ms var(--transition-type);

}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--color-hover);
    border: none;
}


.close-btn:hover .close-btn-pic,
.close-btn:focus .close-btn-pic {
    fill: var(--color-alternative);
}